@use '../abstracts/' as *;

body {
    font-size: fs(400);
    font-weight: $fw-bold;
    font-family: $ff-sans;
    color: clr(neutral, 900);
    background-color: clr(neutral, 100);
    text-align: center;
}